<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="../../static/css/style.css">
  <title>joblist</title>
</head>
<body>

  <header>
      <nav style="background-color: #C6C6C6">
          <div class="nav-wrapper">
              <ul>
                  <li><a href="/" class="left brand-logo" style="color: black">&nbsp;&nbsp;joblist</a></li>
              </ul>
              <ul class="right">
                  {% if user.is_authenticated %}
                  {% if request.resolver_match.url_name != 'jobs_index' %}
                  <li><a href="{% url 'jobs_index' %}">Jobs</a></li>
                  {% endif %}
                  <li><a href="{% url 'logout' %}">Logout</a></li>
                  {% else %}
                  <li><a href="{% url 'login' %}"><i class="material-icons"
                                  style="font-size: 30px; color: black">person</i></a></li>
                  {% endif %}
              </ul>
          </div>
      </nav>
  </header>

  <main >
    <div class="loginpage">
      <h2>Log In</h2>
      <h5>Become a part of our community!</h5>

      <div class="login center-align">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="loginbtn">
              <input type="submit" class="btn" value="LOG IN">
            </div>
            <input type="hidden" name="next" value="{{ next }}"><br>
        </form>
        <div class="signOnLog">
          <h6>Not a member?</h6>
          <a href="{% url 'signup' %}" style="color: black"><h6>SIGN UP</h6></a>
        </div>
      </div>

    </div>
  </main>
</body>
</html>