{% extends 'base.html' %}
{% block content %}

<div class="row home" style="background-color: #C6C6C6">
    <div class="col s6">
        <h2>Organize Your Job Search</h2>
        <button type="submit" class="btn" style="background-color: #C6C6C6"><a href="{% url 'signup' %}" style="color: black">Sign Up</a></button>
    </div>
    <div class="col s6">
        <img src="../static/images/joblist.png" alt="interview" style="display: block; width: 85%; height: auto">
    </div>
</div>
<div class="row home" style="background-color: white">
    <div class="col s6">
        <img src="../static/images/Screen Shot 2019-06-19 at 10.46.30 AM.png" alt="joblist_screen" style="display: block; width: 100%; height: auto">
    </div>
    <div class="col s6">
        <h5>Never miss an opportunity again with this one-stop collection of all your job-search needs.</h5>
    </div>
</div>
<div class="row home" style="background-color: #C6C6C6">
    <div class="col s6">
        <h5>Each stage of the application process is divided into four intuitive categories. Be confident your search is following a plan.</h5>
    </div>
    <div class="col s6">
        <img src="../static/images/Screen Shot 2019-06-19 at 10.42.58 AM.png" alt="stages" style="display: block; width: 100%; height: auto;">
    </div>
</div>

{% endblock %}