*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    /* display: flex;   */
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}
#page-footer {
    bottom: 0;
    left: 0;
    padding: 1rem;
    /* background-color: #efefef; */
    text-align: center;
    /* clear: both; */
    margin: 0;
}
main {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    overflow-y: scroll;
    /* background-color: #C6C6C6; */
}

.loginpage {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0px, 0px, 0px, 0px;
    margin: 0px, 0px, 0px, 0px;
}

.row .col.s3 {
    margin: 50px 10px -5px;
}

.btn {
    background-color: #C6C6C6;
    color: black;
}

.loginpage>h1 {
    margin: -.7%;
}

.signOnLog {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 40%;
}

#id_username, #id_password {
    height: 40px;
    width: 75%;
    border: 2px solid #C6C6C6;
    
}

.loginpage>input, label {
    display: block;
}

.loginbtn {
    display: flex;
    justify-content: center;
}

.s3 {
    min-width: 250px;
    background-color: #C6C6C6;
    padding: none;
}

.s3>h5 {
    text-align: center;
}

.index {
    background-color: white;
    min-height: 1000px;
}

nav ul a {
    color: black;
}

.jobbutton {
    display: flex;
    flex-direction: row;
    min-width: 100%;
    background-color: white;
    white-space: nowrap;
    align-items: center;
    border: 2px solid #C6C6C6;
    margin: 1px 2px;    
}

.jobbutton:hover {
    background-color: #C6C6C6;
    cursor: pointer;
}

.home {
    display: flex;
    align-items: center;
}

div.addjob {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}