{% extends 'base.html' %}
{% block content %}

<div class="addjob">
  <a href="{% url 'jobs_create' %}"><button class="jobbutton"><i class="material-icons"
        style="font-size: 30px; color: black">add_circle_outline</i>ADD JOB</button></a>
</div>


<div class="row index">
  <div class="col s3">
    <h5 style="font-weight: bold">APPLY</h5>
    {% for job in jobs %}
    {% if job.stage == 'A' %}
    <a href="{% url 'jobs_detail' job.id %}">
      <div class="card">
        <div class="card-content">
          {% if job.prioritized == 'T' %}
          <span class="card-title">{{ job.company }}<i class="material-icons icon-blue">star</i></span>
          {% else %}
          <span class="card-title">{{ job.company }}</span>
          {% endif %}
          <p>{{ job.position }}</p>
          <p>Updated {{ job.date_updated }}</p>
        </div>
      </div>
    </a>
    {% endif %}
    {% endfor %}
  </div>


  <div class="col s3">
    <h5 style="font-weight: bold">INTERVIEW</h5>
    {% for job in jobs %}
    {% if job.stage == 'I' %}
    <a href="{% url 'jobs_detail' job.id %}">
      <div class="card">
        <div class="card-content">
          {% if job.prioritized == 'T' %}
          <span class="card-title">{{ job.company }}<i class="material-icons icon-blue">star</i></span>
          {% else %}
          <span class="card-title">{{ job.company }}</span>
          {% endif %}
          <p>{{ job.position }}</p>
          <p>Updated {{ job.date_updated }}</p>
        </div>
      </div>
    </a>
    {% endif %}
    {% endfor %}
  </div>


  <div class="col s3">
    <h5 style="font-weight: bold">FOLLOW UP</h5>
    {% for job in jobs %}
    {% if job.stage == 'F' %}
    <a href="{% url 'jobs_detail' job.id %}">
      <div class="card">
        <div class="card-content">
          {% if job.prioritized == 'T' %}
          <span class="card-title">{{ job.company }}<i class="material-icons icon-blue">star</i></span>
          {% else %}
          <span class="card-title">{{ job.company }}</span>
          {% endif %}
          <p>{{ job.position }}</p>
          <p>Updated {{ job.date_updated }}</p>
        </div>
      </div>
    </a>
    {% endif %}
    {% endfor %}
  </div>


  <div class="col s3">
    <h5 style="font-weight: bold">OUTCOMES</h5>
    {% for job in jobs %}
    {% if job.stage == 'O' %}
    <a href="{% url 'jobs_detail' job.id %}">
      <div class="card">
        <div class="card-content">
          {% if job.prioritized == 'T' %}
          <span class="card-title">{{ job.company }}<i class="material-icons icon-blue">star</i></span>
          {% else %}
          <span class="card-title">{{ job.company }}</span>
          {% endif %}
          <p>{{ job.position }}</p>
          <p>Updated {{ job.date_updated }}</p>
        </div>
      </div>
    </a>
  </div>
  {% endif %}
  {% endfor %}
</div>

{% endblock %}