{% extends 'base.html' %}
{% block content %}

<div class="addjob">
  <a href="{% url 'jobs_create' %}"><button class="jobbutton"><i class="material-icons"
    style="font-size: 30px; color: black">add_circle_outline</i>ADD JOB</button></a>
</div>
<div class="row index">
  <div class="col s3">
    <h5>APPLY</h5>
{% for job in jobs %}
  <a href="{% url 'jobs_detail' job.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">Company: {{ job.company }}</span>
            <p>Position: {{ job.position }}</p>
            <p>Updated on {{ job.date_updated }}</p>
            <p>{{ job.stage }}</p>
            {% if job.prioritized == 'T' %}
            <p>Favorited!</p>
            {% endif %}
        </div>
    </div>
  </a>
{% endfor %}
</div>
<div class="col s3">
  <h5>INTERVIEW</h5>
  {% for job in jobs %}
  <a href="{% url 'jobs_detail' job.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">Company: {{ job.company }}</span>
            <p>Position: {{ job.position }}</p>
            <p>Updated on {{ job.date_updated }}</p>
            {% if job.prioritized == true %}
            <p>TRUE</p>
            {% endif %}
        </div>
    </div>
  </a>
{% endfor %}
</div>


<div class="col s3">
  <h5>FOLLOW UP</h5>
  {% for job in jobs %}
  <a href="{% url 'jobs_detail' job.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">Company: {{ job.company }}</span>
            <p>Position: {{ job.position }}</p>
            <p>Updated on {{ job.date_updated }}</p>
            {% if job.prioritized == true %}
            <p>TRUE</p>
            {% endif %}
        </div>
    </div>
  </a>
{% endfor %}
</div>


<div class="col s3">
  <h5>OUTCOMES</h5>
  {% for job in jobs %}
  <a href="{% url 'jobs_detail' job.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">Company: {{ job.company }}</span>
            <p>Position: {{ job.position }}</p>
            <p>Updated on {{ job.date_updated }}</p>
            {% if job.prioritized == true %}
            <p>TRUE</p>
            {% endif %}
        </div>
    </div>
  </a>
{% endfor %}
</div>

</div>

{% endblock %}